/001/nbproject/private/
/001/build/
/ProjectEuler002/nbproject/private/
/ProjectEuler002/build/
/ProjectEuler003/nbproject/private/
/ProjectEuler003/build/
/ProjectEuler004/nbproject/private/
/ProjectEuler004/build/
/ProjectEuler005/nbproject/private/
/ProjectEuler005/build/
/ProjectEuler006/nbproject/private/
/ProjectEuler006/build/
/ProjectEuler007/nbproject/private/
/ProjectEuler007/build/
/ProjectEuler008/nbproject/private/
/ProjectEuler008/build/
/ProjectEuler/nbproject/private/
/ProjectEuler/build/